body{
    background-color: black;
    color: white;    
}

h1{
    border: 1px solid;
    font-size: 80px;  
    border-bottom-style: solid;
    width: 250px;
    text-align: center; 
    text-shadow: 0px -5px 5px red, 0px 2px 2px yellow; 
    background-color: black; 
    position: relative;
    left: 480px;

    animation: clockAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes clockAnimation{
    50% {transform: scale(0.5,0.5);}
}


#myLabel{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 108px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    border-width: 3px 5px 3px 5px;
    border-radius: 10px;
    position: relative;
    top: 80px;
    left: 350px;
    text-shadow: 0px -5px 5px red, 0px 2px 2px yellow; 
}
#myLabel1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 108px;
    border-style: solid;
    border-color: green;
    padding: 10px;
    border-width: 3px 5px 3px 5px;
    border-radius: 10px;
    position: relative;
    top: 130px;
    left: 380px;
    text-shadow: 0px -5px 5px red, 0px 2px 2px yellow; 
}

#time{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;  
    font-size: 30px;
    position: relative;
    top: 60px;
    left: 600px;
}

#date{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 30px;
    position: relative;
    top: 117px;
    left: 590px;
}